@font-face {
  font-family: "MyriadPro";
  font-weight: 300;
  src: url("/font/MyriadPro-Light.ttf");
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 300;
  src: url("/font/MyriadPro-LightIt.ttf");
  font-display: block;
  font-style: italic;
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  src: url("/font/MyriadPro-Regular.ttf");
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 500;
  src: url("/font/MyriadPro-Semibold.ttf");
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 600;
  src: url("/font/MyriadPro-Bold.ttf");
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro";
  font-weight: 900;
  src: url("/font/MyriadPro-Black.ttf");
  font-display: block;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: MyriadPro, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-overflow-scrolling: touch;
}
html {
  font-size: 14px;
}
body {
  background-color: white;
}
main {
  min-height: 50vh;
}
[space_here] main {
  padding-top: 100vh;
}
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.section {
  margin-top: 50px;
}
ul {
  list-style: none;
}
svg {
  display: block;
}
.gradients {
  width: 0;
  height: 0;
}
.online-dot {
  width: 8px;
  height: 8px;
  background-color: #84c550;
  margin-right: 7px;
  border-radius: 999px;
  -webkit-animation: blink 1s infinite linear;
          animation: blink 1s infinite linear;
  display: inline-block;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
.absolutely-covered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.square {
  position: relative;
}
.square:before {
  display: block;
  content: '';
  padding-top: 100%;
}
.square > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.overflow-h {
  overflow: hidden;
}
.preloader {
  width: 55px;
  height: 55px;
  background-color: #232323;
  border-radius: 100%;
  -webkit-animation: sk-spinner-pulse 1s infinite ease-in-out;
          animation: sk-spinner-pulse 1s infinite ease-in-out;
}
@-webkit-keyframes sk-spinner-pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-spinner-pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.z-depth-1,
.toast {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
}
@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%;
  }
}
.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.toast .toast-action {
  color: #eeff41;
  font-weight: 500;
  margin-right: -25px;
  margin-left: 3rem;
}
.toast.rounded {
  border-radius: 24px;
}
@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0;
  }
}
.error-toast {
  background-color: #e57373;
  font-weight: 400;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.btn {
  padding: 8px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-size: 1.0667rem;
  background-color: #eeeff4;
  color: black;
  font-weight: 300;
}
.btn svg {
  height: 20px;
  margin-right: 5px;
}
.btn.primary {
  background-color: black;
  color: white;
}
.btn.primary svg {
  fill: white;
}
.form-group .form-control {
  display: block;
  width: 100%;
  color: black;
  background: white;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 300;
  -webkit-appearance: none;
  font-size: 1rem;
}
.form-group .form-control[invalid] {
  border: 1px solid red;
}
.form-group .field {
  position: relative;
}
.form-group .field .postfix,
.form-group .field .prefix {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-group .field .postfix svg,
.form-group .field .prefix svg {
  width: 20px;
  height: 20px;
}
.form-group .field .prefix {
  left: 0;
  right: initial;
}
.form-group textarea.form-control {
  resize: vertical;
  min-height: 112px;
}
.form-group label {
  display: flex;
  color: #273444;
  font-size: 0.9rem;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.form-group label .left {
  margin-left: auto;
}
.form-group .invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 0.85rem;
  color: #dc3545;
}
#section_header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -75.5px;
  transition: transform 0.3s ease, top 0.3s ease;
  z-index: 100;
  border-bottom: 1px solid #f2f2f2;
}
#section_header .desktop {
  padding: 20px 10px;
  padding-bottom: 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#section_header .desktop .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#section_header .desktop .top .brand {
  display: flex;
  align-items: center;
  color: black;
}
#section_header .desktop .top .brand .brand-logo svg {
  height: 40px;
}
#section_header .desktop .top .brand .text {
  margin-left: 20px;
}
#section_header .desktop .top .brand .text .brand-name svg {
  height: 17px;
}
#section_header .desktop .top .brand .text .description {
  margin-top: 3px;
  font-size: 0.95rem;
  font-weight: 300;
}
#section_header .desktop .top .contacts {
  display: flex;
}
#section_header .desktop .top .contacts .label {
  font-size: 1.2rem;
  font-weight: 300;
}
#section_header .desktop .top .contacts .call .phone-number {
  font-size: 2rem;
  line-height: 1.7rem;
  color: #000;
  font-weight: 300;
}
#section_header .desktop .top .contacts .manager-contacts {
  margin-left: 55px;
}
#section_header .desktop .top .contacts .manager-contacts .variants {
  display: flex;
  justify-content: flex-end;
}
#section_header .desktop .top .contacts .manager-contacts .variants a:not(:last-child) {
  margin-right: 7px;
}
#section_header .desktop .top .contacts .manager-contacts .variants a svg {
  width: 21px;
}
#section_header .desktop .bottom {
  display: flex;
  justify-content: space-between;
}
#section_header .desktop .bottom .left {
  display: flex;
}
#section_header .desktop .bottom .left .link-list {
  display: flex;
  position: relative;
  transform: translateX(-5px);
}
#section_header .desktop .bottom .left .link-list .brand-logo-wrapper {
  margin-right: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
#section_header .desktop .bottom .left .link-list .brand-logo-wrapper .brand-logo {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  transition: transform 0.25s ease;
  transform: translateX(-50px);
}
#section_header .desktop .bottom .left .link-list .brand-logo-wrapper .brand-logo svg {
  height: 35px;
}
#section_header .desktop .bottom .left .link-list .movable {
  display: flex;
  transition: transform 0.25s ease;
  transform: translateX(0);
}
#section_header .desktop .bottom .left .link-list .movable .link-item:not(:last-child) {
  margin-right: 15px;
}
#section_header .desktop .bottom .left .link-list .movable .link-item a {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
  padding: 0 5px;
  border-top: 2px solid transparent;
}
#section_header .desktop .bottom .left .link-list .movable .link-item a:hover {
  border-top: 2px solid #7122e3;
}
#section_header .desktop .bottom .left .link-list .movable .link-item .submenu {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}
#section_header .desktop .bottom .left .link-list .movable .link-item .submenu .submenu-item {
  border-bottom: 1px solid #f0f0f0;
}
#section_header .desktop .bottom .left .link-list .movable .link-item .submenu .submenu-item a {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 8px 14px;
}
#section_header .desktop .bottom .left .link-list .movable .link-item .submenu .submenu-item a:hover {
  color: #7122e3;
  border-top: 2px solid transparent;
}
#section_header .desktop .bottom .left .link-list .movable .link-item:hover .submenu {
  display: block;
}
#section_header .desktop .bottom .right {
  display: flex;
  align-items: center;
}
#section_header .desktop .bottom .right .search {
  position: relative;
}
#section_header .desktop .bottom .right .search .prefix {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36.8px;
}
#section_header .desktop .bottom .right .search .prefix svg {
  width: 20px;
  height: 20px;
  fill: #565759;
}
#section_header .desktop .bottom .right .search input {
  background-color: #eeeff4;
  border-radius: 4px;
  padding: 10px 20px;
  padding-left: 37px;
  font-size: 1rem;
  font-weight: 300;
}
#section_header .desktop .bottom .right > *:not(:last-child) {
  margin-right: 14px;
}
#section_header .mobile {
  width: 100%;
  position: relative;
  display: none;
  justify-content: space-between;
}
#section_header .mobile > * {
  display: flex;
}
#section_header .mobile .burger .icon .h-line {
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 9999px;
}
#section_header .mobile .burger .icon .h-line:first-child {
  margin-bottom: 5px;
}
#section_header .mobile .brand-name {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
#section_header .mobile .brand-name svg {
  height: 23%;
}
#section_header .mobile .account .icon {
  width: 23px;
  height: 23px;
  border-radius: 9999px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_header .mobile .account .icon svg {
  fill: white;
  width: 67%;
}
#section_header .mobile .square-button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#section_header .mobile .square-button .icon {
  width: 25px;
}
@media (max-width: 355px) {
  #section_header .mobile {
    padding: 0 5px;
  }
  #section_header .mobile .square-button {
    width: 36px;
  }
  #section_header .mobile .square-button .icon {
    width: 23px;
  }
}
#section_header .sidebar-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
}
#section_header .sidebar-wrapper .overlay {
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 0;
}
#section_header .sidebar-wrapper .overlay svg {
  position: absolute;
  top: 10px;
  right: 10px;
  fill: white;
  width: 15px;
}
#section_header .sidebar-wrapper .sidebar {
  width: 70%;
  max-width: 300px;
  min-width: 260px;
  height: 100%;
  overflow: auto;
  z-index: 2;
  background-color: #161616;
  position: relative;
}
#section_header .sidebar-wrapper .sidebar .top {
  padding: 19px 25px;
  padding-bottom: 0;
}
#section_header .sidebar-wrapper .sidebar .top .main-info {
  display: flex;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .logo {
  padding-right: 14px;
  border-right: 1px solid #4a4a4a;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .logo svg {
  width: 50px;
  fill: white;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .text {
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .text .call .label {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .text .call .phone-number {
  font-size: 1.1rem;
  color: white;
}
#section_header .sidebar-wrapper .sidebar .top .main-info .text .description {
  font-size: 0.8rem;
  color: white;
  line-height: 1;
}
#section_header .sidebar-wrapper .sidebar .top .search {
  margin-top: 15px;
  position: relative;
}
#section_header .sidebar-wrapper .sidebar .top .search .prefix {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36.8px;
}
#section_header .sidebar-wrapper .sidebar .top .search .prefix svg {
  fill: #9a9a9a;
  width: 15px;
}
#section_header .sidebar-wrapper .sidebar .top .search input {
  background-color: #444444;
  color: white;
  width: 100%;
  border-radius: 4px;
  padding: 10px 20px;
  padding-left: 20px;
  padding-left: 37px;
  font-size: 1rem;
  font-weight: 300;
}
#section_header .sidebar-wrapper .sidebar .top .search input::-webkit-input-placeholder {
  color: #9a9a9a;
}
#section_header .sidebar-wrapper .sidebar .top .search input::-moz-placeholder {
  color: #9a9a9a;
}
#section_header .sidebar-wrapper .sidebar .top .search input:-moz-placeholder {
  color: #9a9a9a;
}
#section_header .sidebar-wrapper .sidebar .top .search input:-ms-input-placeholder {
  color: #9a9a9a;
}
#section_header .sidebar-wrapper .sidebar .middle {
  width: 100%;
  margin-top: 10px;
  position: relative;
  transition: all 0.4s ease;
  overflow: hidden;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list {
  width: 100%;
  transition: all 0.4s ease;
  top: 0;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list:not(:nth-of-type(1)) {
  position: absolute;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item:not(:last-child) {
  border-bottom: 1px solid #444;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item a {
  width: 100%;
  height: 55px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  color: #D0D0D0;
  font-size: 1.1rem;
  text-transform: initial;
  cursor: pointer;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item a svg {
  width: 12px;
  margin-right: 8px;
  fill: white;
  margin-left: auto;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .link-item.view-all-products-link a {
  text-decoration: underline;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .back a {
  position: relative;
  cursor: pointer;
  font-weight: 600;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .back a span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .back a svg {
  width: 12px;
  fill: white;
  margin: 0;
}
#section_header .sidebar-wrapper .sidebar .middle .link-list .back a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#section_header .sidebar-wrapper .sidebar .middle .hidden-right {
  transform: translateX(100%);
}
#section_header .sidebar-wrapper .sidebar .middle .hidden-left {
  transform: translateX(-100%);
}
#section_header .sidebar-wrapper .sidebar .bottom {
  margin-top: 30px;
}
#section_header .sidebar-wrapper .sidebar .bottom .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 0 25px;
}
#section_header .sidebar-wrapper .sidebar .bottom .buttons .btn {
  width: initial;
}
#section_header .sidebar-wrapper .sidebar .bottom .buttons .shopping-cart {
  padding: 0 10px;
}
#section_header .sidebar-wrapper .sidebar .bottom .manager-contacts {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
#section_header .sidebar-wrapper .sidebar .bottom .manager-contacts .label {
  color: #737373;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
#section_header .sidebar-wrapper .sidebar .bottom .manager-contacts .variants {
  display: flex;
  justify-content: center;
}
#section_header .sidebar-wrapper .sidebar .bottom .manager-contacts .variants a svg {
  width: 27px;
  fill: #dfdfdf;
}
#section_header .sidebar-wrapper .sidebar .bottom .manager-contacts .variants a:not(:last-child) {
  margin-right: 7px;
}
#section_header .sidebar-fade-enter-active,
#section_header .sidebar-fade-leave-active {
  transition: all 0.3s ease;
}
#section_header .sidebar-fade-enter-active .sidebar,
#section_header .sidebar-fade-leave-active .sidebar {
  transition: all 0.3s ease;
}
#section_header .sidebar-fade-enter-active .overlay,
#section_header .sidebar-fade-leave-active .overlay {
  transition: all 0.3s ease;
}
#section_header .sidebar-fade-enter .sidebar,
#section_header .sidebar-fade-leave-to .sidebar {
  transform: translateX(-100%);
}
#section_header .sidebar-fade-enter .overlay,
#section_header .sidebar-fade-leave-to .overlay {
  opacity: 0;
}
#section_header.moving .brand-logo {
  transform: translateX(0) !important;
}
#section_header.moving .movable {
  transform: translateX(50px) !important;
}
#section_header.searchIsOpen {
  transform: translateY(-75.5px);
  top: 0;
}
#section_header.searchIsOpen .brand-logo {
  transform: translateX(0) !important;
}
#section_header.searchIsOpen .movable {
  transform: translateX(50px) !important;
}
@media (max-width: 1140px) {
  #section_header.searchIsOpen {
    transform: translateY(0);
  }
}
@media (max-width: 1140px) {
  #section_header {
    top: 0;
  }
  #section_header .desktop {
    display: none;
  }
  #section_header .mobile {
    display: flex;
  }
}
#section_search {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow-y: auto;
  z-index: 5;
}
#section_search .top-bar {
  width: 100%;
  background-color: #232323;
  padding: 12px 0;
}
#section_search .top-bar > .content {
  margin: auto;
  width: 100%;
  max-width: 1400px;
  display: grid;
  padding: 0 10px;
  grid-template-columns: 0.75fr 1fr;
  align-items: center;
}
@media (max-width: 930px) {
  #section_search .top-bar > .content {
    align-items: stretch;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
  }
  #section_search .top-bar > .content .close-btn {
    height: auto;
  }
}
#section_search .top-bar > .content .search-field {
  padding-right: 40px;
}
#section_search .top-bar > .content .postfix {
  width: 36.8px;
}
#section_search .top-bar > .content .postfix svg {
  width: 21px;
  fill: #9a9a9a;
}
#section_search .top-bar > .content .close-btn {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#section_search .top-bar > .content .close-btn svg {
  width: 40%;
  fill: rgba(255, 255, 255, 0.5);
  transition: inherit;
}
#section_search .top-bar > .content .close-btn:hover {
  border: 1px solid white;
}
#section_search .top-bar > .content .close-btn:hover svg {
  fill: white;
}
#section_search .for-whom {
  width: 100%;
}
#section_search .for-whom > .content {
  margin: auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  padding: 0 10px;
}
#section_search .for-whom > .content .item input {
  display: none;
}
#section_search .for-whom > .content .item:not(:last-child) {
  margin-right: 20px;
}
#section_search .for-whom > .content .item label {
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  font-size: 0.9rem;
  transition: all 0.15s ease-in-out;
  border-bottom: 3px solid transparent;
}
#section_search .for-whom > .content .item [type="radio"]:checked + label {
  border-bottom: 3px solid #7122e3;
  color: black;
}
#section_search .for-whom > .content .count-matches {
  align-self: center;
  font-size: 0.87rem;
  color: rgba(0, 0, 0, 0.4);
}
#section_search .body {
  width: 100%;
}
#section_search .body .field-is-empty-notice,
#section_search .body .no-results-notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#section_search .body .field-is-empty-notice svg,
#section_search .body .no-results-notice svg {
  width: 180px;
  fill: #e6e6e6;
}
#section_search .body .field-is-empty-notice p,
#section_search .body .no-results-notice p {
  font-size: 1.2rem;
  margin-top: 15px;
  color: #cccccc;
}
#section_search .body .no-results-notice p {
  font-size: 1.4rem;
  color: #232323;
  font-weight: 400;
}
#section_search .body .preloader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#section_search .body .preloader-wrapper .preloader {
  width: 100px;
  height: 100px;
}
#section_search .body .results {
  margin: 25px auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#section_search .body .results .product {
  padding: 10px 0;
  max-width: 670px;
}
#section_search .body .results .product a {
  display: grid;
  grid-template-columns: auto 1fr;
  color: black;
}
#section_search .body .results .product:not(:first-child):not(:nth-of-type(2)) {
  border-top: 1px solid #d9d9d9;
}
#section_search .body .results .product .image {
  width: 69px;
}
#section_search .body .results .product .image div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#section_search .body .results .product .details {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-left: 20px;
}
#section_search .body .results .product .details .name {
  font-size: 1.15rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
#section_search .body .results .product .details .name:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  pointer-events: none;
}
#section_search .body .results .product .details .other {
  display: flex;
}
#section_search .body .results .product .details .other .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#section_search .body .results .product .details .other .text .article {
  font-size: 0.8rem;
}
#section_search .body .results .product .details .other .text .price {
  font-size: 1.2rem;
  font-weight: 500;
}
#section_search .body .results .product .details .other .sizes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 84%;
  margin-left: 20px;
}
#section_search .body .results .product .details .other .sizes .size-item {
  padding: 3px 4px;
  border-radius: 3px;
  border: 2px solid #e7e7e7;
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
}
#section_search .body .results .product .details .other .sizes .size-item:not(:last-child) {
  margin-right: 4px;
}
#section_search .body .results .product .details .other .sizes .size-item[instock="0"] {
  background-color: transparent;
  color: #959595;
  position: relative;
  overflow: hidden;
  border: 2px solid #e7e7e7;
}
#section_search .body .results .product .details .other .sizes .size-item[instock="0"]::after {
  display: block;
  position: absolute;
  width: calc(100% + 10px);
  height: 1px;
  background-color: #e7e7e7;
  transform: rotate(35deg);
  top: 11px;
  left: -4px;
}
#section_search .body .results .product .details .other .sizes .size-item::after {
  content: '';
}
#section_search .body .results .show-all-results {
  padding: 15px 20px;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 1.1rem;
  color: white;
}
@media (max-width: 881px) {
  #section_search .body .results {
    grid-template-columns: 1fr;
  }
  #section_search .body .results .product {
    max-width: initial;
  }
  #section_search .body .results .show-all-results {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 1140px) {
  #section_search {
    top: 45px;
  }
}
.search-enter-active,
.search-leave-active {
  transition: all 0.3s ease;
}
.search-enter,
.search-leave-to {
  transform: translateY(20vh);
  opacity: 0;
}
#template_shop_product {
  margin-top: 50px;
  margin-bottom: 200px;
}
#template_shop_product .top {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-gap: 40px;
}
#template_shop_product .top .left {
  overflow: hidden;
}
#template_shop_product .top .left .frame {
  position: relative;
}
#template_shop_product .top .left .frame .arrow-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
#template_shop_product .top .left .frame .arrow-nav .arrow {
  padding: 15px 8px;
  cursor: pointer;
  background-color: black;
  opacity: 0.4;
  transition: opacity 0.1s ease-in-out;
}
#template_shop_product .top .left .frame .arrow-nav .arrow svg {
  width: 20px;
  fill: white;
}
#template_shop_product .top .left .frame .arrow-nav .arrow:hover {
  opacity: 0.7;
}
#template_shop_product .top .left .frame .arrow-nav:first-child {
  left: 0px;
}
#template_shop_product .top .left .frame .arrow-nav:last-child {
  right: 0px;
}
#template_shop_product .top .left .frame .slick-slider {
  z-index: 0;
}
#template_shop_product .top .left .frame .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 475px;
}
#template_shop_product .top .left .slider-navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding: 0 0px;
  margin-top: 13px;
}
#template_shop_product .top .left .slider-navigation > li {
  transition: opacity 0.15s ease-in-out;
  opacity: 0.6;
}
#template_shop_product .top .left .slider-navigation > li.slick-active {
  opacity: 1;
}
#template_shop_product .top .left .slider-navigation .mini-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 84px;
  cursor: pointer;
}
#template_shop_product .top .right > .vendor {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#template_shop_product .top .right > .vendor span {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
#template_shop_product .top .right > .vendor .price-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
#template_shop_product .top .right > .vendor .price-wrapper .price:after,
#template_shop_product .top .right > .vendor .price-wrapper .compare-at-price:after {
  content: '\20BD';
  margin-left: 5px;
}
#template_shop_product .top .right > .vendor .price-wrapper .price {
  font-weight: 500;
  color: black;
}
#template_shop_product .top .right > .vendor .price-wrapper .compare-at-price {
  font-weight: 500;
  margin-left: 20px;
  color: #949597;
  position: relative;
  text-decoration: line-through;
}
#template_shop_product .top .right h2 {
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}
#template_shop_product .top .right .info {
  display: flex;
  align-items: center;
  color: #9d9d9d;
  margin-top: 20px;
}
#template_shop_product .top .right .info .in-stock {
  background-color: #41d651;
  color: white;
  padding: 3px 10px;
  margin-left: 20px;
  border-radius: 3px;
}
#template_shop_product .top .right .sizes-wrapper {
  margin-top: 50px;
}
#template_shop_product .top .right .sizes-wrapper .size-list {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 430px;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item {
  position: relative;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item label {
  display: block;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding: 12px 0px;
  cursor: pointer;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item label:hover + .tip {
  transform: translateY(0);
  opacity: 1;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item:nth-child(-n + 5) label {
  border-top: 1px solid #d0d0d0;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item:nth-child(5n + 1) label {
  border-left: 1px solid #d0d0d0;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item .tip {
  position: absolute;
  bottom: calc(100% + 20px);
  background: black;
  color: white;
  box-shadow: 0 0px 11px -1px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  padding: 8px 15px;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.1s ease-in-out;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item .tip:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  top: 100%;
  right: 20px;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item input {
  display: none;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item input:checked ~ .tip {
  opacity: 0 !important;
  transform: translateY(-5px) !important;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item input:checked + label {
  background-color: #7122e3;
  color: white;
  font-weight: 400;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item input:disabled + label {
  color: gray;
}
#template_shop_product .top .right .sizes-wrapper .size-list .size-item[instock="1"] label {
  color: #ff5e00;
  font-weight: 400;
}
#template_shop_product .top .right .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}
#template_shop_product .top .right .buttons .btn {
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 14px 0;
  letter-spacing: 0.1rem;
}
#template_shop_product .top .right .buttons .btn.add-to-cart {
  background-color: red;
}
#template_shop_product .top .right .parameter-list {
  margin-top: 40px;
}
#template_shop_product .bottom {
  margin-top: 80px;
}
#template_badbrowser {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#template_badbrowser .brand-logo svg {
  margin: auto;
  width: 100px;
  fill: #474747;
}
#template_badbrowser .text {
  margin-top: 50px;
  color: white;
  text-align: center;
}
#template_badbrowser .text h2 {
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 2rem;
}
#template_badbrowser .text p {
  max-width: 480px;
  font-size: 1.4rem;
}
#template_badbrowser .good-browsers {
  display: flex;
  margin-top: 40px;
}
#template_badbrowser .good-browsers a {
  text-align: center;
  color: white;
}
#template_badbrowser .good-browsers a .image {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#template_badbrowser .good-browsers a .tag {
  margin-top: 10px;
}
#template_badbrowser .good-browsers a:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 370px) {
  #template_badbrowser .good-browsers a .image {
    width: 55px;
    height: 55px;
  }
  #template_badbrowser .good-browsers a:not(:last-child) {
    margin-right: 20px;
  }
}
