@import "snippets/default.less";
@import "snippets/slick.less";

.welcome {
	position: relative;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;

	.arrow {
		position: absolute;
		top: 0;
		height: calc(100vh - 82px - 50px - 50px);
		display: flex;
		align-items: center;
		z-index: 1;
		cursor: pointer;

		i {
			font-size: 4.3rem;
			color: white;
			background-color: rgba(0,0,0,.3);
		}
		&:hover i {
			background-color: rgba(0,0,0,.5);
		}
		&.to-left {
			left: 0;
		}
		&.to-right {
			right: 0;
		}
	}
	.slider-navigation {
		position: absolute;
		left: 0; right: 0; top: calc(100vh - 82px - 50px - 50px - 40px);

		.slick-dots {
			display: flex;
			justify-content: center;
			margin: auto;

			li:not(:last-child) { margin-right: 13px }
			button {
				font-size: 0;
				width: 50px;
				padding-top: 20px;
				background-color: transparent;
				border: none;
				box-shadow: none;
				outline: none;
				cursor: pointer;
				border-bottom: 4px solid white;
				transition: all .2s ease-in-out;
			}
			li.slick-active button {
				border-bottom: 4px solid @main-color;
			}
		}
	}
}
.slider {
	.slide {
		display: block;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: calc(100vh - 82px - 50px - 50px);
	}
}


#collections {
	margin: 80px 0;

	.link-list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 20px;

		.link-item {
			position: relative;
			overflow: hidden;

			.image {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				height: 100%;
				transition: all 0.8s ease;

				&:before {
					content: '';
					position: absolute;
					.absolutely-covered;
					background-color: black;
					opacity: .3;
					transition: all 0.8s ease;
				}
			}
			a {
				position: absolute;
				.absolutely-covered;
				display: block;
				color: white;
				// font-style: italic;
				font-size: 1.9rem;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 10px;
				text-align: center;

				@media (max-width: 620px) {
					font-size: 1.5rem;
				}
			}
			&:hover .image {
				transform: scale(1.03);

				&:before {
					opacity: .6;
				}
			}
			&:nth-child(1) {
				grid-column: ~"1 / 4";
				height: 310px;
			}
			&:nth-child(2) {
				grid-column: ~"4 / 7";
				height: 310px;
			}
			&:nth-child(3) {
				grid-column: ~"1 / 3";
				height: 280px;
			}
			&:nth-child(4) {
				grid-column: ~"3 / 5";
				height: 280px;
			}
			&:nth-child(5) {
				grid-column: ~"5 / 7";
				height: 280px;
			}
			@media (max-width: 850px) {
				&:nth-child(1) {
					grid-column: ~"1 / 7";
					height: 190px;
				}
				&:nth-child(2) {
					grid-column: ~"1 / 4";
					height: 130px;
				}
				&:nth-child(3) {
					grid-column: ~"4 / 7";
					height: 130px;
				}
				&:nth-child(4) {
					grid-column: ~"1 / 4";
					height: 130px;
				}
				&:nth-child(5) {
					grid-column: ~"4 / 7";
					height: 130px;
				}
			}
		}
	}
}


@import "sections/footer.less";