.form-group {
	.form-control {
		display: block;
		width: 100%;
		border: 1px solid #ced4da;
		color: #495057;
		transition: all 0.15s ease-in-out;
		background: transparent;
		border-radius: 5px;
		padding: 10px;
		font-weight: 300;
		-webkit-appearance: none;
		font-size: 1rem;
		margin-top: 5px;

		&:focus {
			border: 1px solid #273444;
		}
		&[invalid] {
			border: 1px solid red;
			// box-shadow: 0 0 6px -2px red;
		}
	}
	textarea.form-control {
		resize: vertical;
		min-height: 112px;
	}

	label {
		display: flex;
		color: #273444;
		font-size: .9rem;
		font-weight: 500;
		width: max-content;

		.left {
			margin-left: auto;
		}
	}
	.invalid-feedback {
		display: block;
		width: 100%;
		margin-top: 5px;
		font-size: .85rem;
		color: #dc3545;
	}
}