.product-item {
	& > .square:before {
		padding-top: 75%;
	}
	.picture {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.vendor {
		text-align: center;
		margin-top: 10px;
		font-weight: 500;
		font-size: 1.1rem;
	}
	.title {
		text-align: center;
		margin-top: 5px;
	}
}