.desktop {
	padding: 0 10px;
	padding-bottom: 0;
	width: 100%;
	position: relative;

	.top {
		display: flex;
		justify-content: space-between;
		max-width: 1400px;
		margin: 0 auto;
		margin-bottom: 10px;
		padding-top: 20px;
		width: 100%;

		.brand {
			display: flex;
			align-items: center;
			color: black;

			.brand-logo {
				svg {
					height: 40px;
					transition: fill .15s ease-in-out;
				}
			}
			.text {
				margin-left: 20px;

				.brand-name {
					svg {
						height: 17px;
						transition: fill .15s ease-in-out;
					}
				}
				.description {
					margin-top: 3px;
					font-size: 0.95rem;
					font-weight: 300;
					transition: color .15s ease-in-out;
				}
			}
		}
		.right {
			display: flex;
			align-items: center;

			.call {
				a {
					color: #363636;
					font-size: 1.5rem;
					transition: color .15s ease-in-out;
				}
			}
			.btn {
				margin-left: 15px;
				background-color: white;
				border: 1px solid #3a3a3a;
				padding: 10px 15px;

				svg {
					margin-right: 5px;
				}
			}
		}
		
	}
	.bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		position: relative;

		.left {
			display: flex;

			.link-list {
				display: flex;
				transform: translateX(-5px);
				
				.brand-logo-wrapper {
					margin-right: 15px;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					overflow: hidden;

					.brand-logo {
						height: 50px;
						display: flex;
						align-items: center;
						padding: 0 5px;
						transition: transform 0.25s ease;
						transform: translateX(-50px);

						svg {
							height: 35px;
						}
					}
				}
				.movable {
					display: flex;
					transition: transform 0.25s ease;
					transform: translateX(0);
				}
				.link-item {
					&:not(:last-child) {
						margin-right: 15px;
					}
					a {
						font-weight: 400;
						height: 50px;
						display: flex;
						align-items: center;
						font-size: 1.1rem;
						color: #898989;
						padding: 0 5px;
						border-top: 2px solid transparent;
						cursor: pointer;
						transition: color .15s ease-in-out;
						position: relative;

						&:hover {
							color: black;
						}

						&.notification:after {
							content: '';
							position: absolute;
							top: 12px;
							right: -3px;
							border-radius: 999px;
							width: 6px;
							height: 6px;
							background-color: @main-color;
						}
					}
					
					&:hover .submenu {
						display: block;
					}
				}
			}
		}
		.right {
			display: flex;
			align-items: center;

			.search-btn {
				background-color: #f1f1f1;

				svg {
					width: 20px;
					height: 17px;
					fill: #565759;
					margin-right: 5px;
					transition: fill .15s ease-in-out;
				}
			}
			.btn {
				&.shopping-cart-btn {
					svg {
						margin-right: 5px;
					}
				}
				&.wishlist {
					background-color: #7122e3;

					svg {
						height: 19px;
						fill: white;
					}
				}
			}
			& > *:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
	.submenu {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		background-color: white;
		box-shadow: 0 10px 10px 0 fade(black, 7%);
		font-size: 1.2rem;


		& > .inner {
			display: flex;
			max-width: 1400px;
			width: 100%;
			padding: 40px 0;
			margin: 0 auto;
			border-top: 1px solid #ededed;

			& > * {
				width: 100%;
			}
		}

		.column {
			.column-heading {
				font-weight: 500;
				color: black;
				text-transform: uppercase;
				letter-spacing: .1rem;

				& ~ .column-content {
					margin-top: 12px;
				}
			}
			.column-content {
				height: 100%;

				.link-list {
					.link-item {
						.link {
							display: inline-block;
							padding: 5px 0;
							color: #4d4d4d;

							&:hover {
								color: @main-color;
								text-decoration: underline;
							}
						}
					}
				}

				.link-as-image {
					display: block;
					width: 100%;
					height: 220px;
					position: relative;
					background-color: pink;
					border-radius: 4px;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					.overlay, .image {
						.absolutely-covered;
					}
					.image {
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
						z-index: 1;
					}
					.overlay {
						background-color: fade(black, 40%);
						z-index: 2;
					}
					.text {
						z-index: 3;
						position: relative;
						color: white;
						font-weight: 500;
						font-size: 2.8rem;
						line-height: 1;
						letter-spacing: .1rem;
						text-align: center;
					}
				}
			}
		}
	}
}