.mobile {
	@mobile_header_height: 45px;
	@mobile_header_icons_width: 23px;

	grid-template-columns: 80px 1fr 80px;
	height: @mobile_header_height;
	padding: 0 5px;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: white;

	.burger, .search, .profile, .shopping-cart {
		width: 36px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.left {
		display: flex;
		z-index: 6;

		.burger .icon {
			width: @mobile_header_icons_width;

			.h-line {
				width: 100%;
				height: 3px;
				background-color: black;
				border-radius: 9999px;

				&:first-child { margin-bottom: 5px; }
			}
		}
		.search {
			svg {
				width: @mobile_header_icons_width;
			}
		}
	}
	.center {
		height: @mobile_header_height;
		display: flex;
		justify-content: center;
		align-items: center;

		.logo {
			height: 100%;
			display: inline-flex;
			align-items: center;
			padding: 0 5px;

			svg { height: 23%; }
		}
	}
	.right {
		display: flex;
		justify-content: flex-end;

		.profile {
			.icon {
				width: @mobile_header_icons_width;
				height: @mobile_header_icons_width;
				border-radius: 9999px;
				background-color: black;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					fill: white;
					width: 67%;
				}
			}
		}
	}
}