#search_results {
	position: fixed;
	top: 50px;
	left: 0; right: 0;
	bottom: 0;
	background-color: white;

	.top-bar {
		width: 100%;
		background-color: #232323;
		padding: 12px 0;

		& > .content {
			margin: auto;
			width: 100%;
			max-width: 1400px;
			display: grid;
			padding: 0 10px;
			grid-template-columns: .75fr 1fr;

			.form-group {
				position: relative;

				.prefix {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					display: flex;
					align-items: center;
					width: 35.5333px;
					justify-content: center;
					cursor: pointer;

					svg {
						fill: #9a9a9a;
						width: 21px;
					}
					&:hover svg { fill: @main-color; }
				}
				.search-field {
					background-color: white;
					color: black;
					border-radius: 2px;
					width: 100%;
					font-size: .9rem;
				}
			}
			.close-btn {
				width: 35px;
				height: 35px;
				border-radius: 2px;
				border: 1px solid rgba(255,255,255,.5);
				color: rgba(255,255,255,.5);
				margin-left: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all .15s ease-in-out;

				i {
					transform: rotate(45deg);
				}
				&:hover {
					border: 1px solid white;
					color: white;
				}
			}
		}
	}
	.for-whom {
		width: 100%;

		& > .content {
			margin: auto;
			width: 100%;
			max-width: 1400px;
			display: flex;
			padding: 0 10px;

			.item {
				input { display: none; }
				&:not(:last-child) { margin-right: 20px; }
				label {
					padding: 5px;
					padding-top: 10px;
					cursor: pointer;
					text-transform: uppercase;
					display: block;
					font-weight: 500;
					font-size: .9rem;
					transition: all .15s ease-in-out;
					border-bottom: 3px solid transparent;
				}
				[type="radio"]:checked + label {
					border-bottom: 3px solid @main-color;
					color: black;
				}
			}
		}
	}
	.body {
		width: 100%;

		.results {
			margin: auto;
			width: 100%;
			max-width: 1400px;
			padding: 0 10px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 40px;
			margin-top: 25px;

			.product {
				display: flex;
				padding: 10px 0;

				.image {
					position: relative;
					width: 60px;

					&:after {
						content: '';
						display: block;
						padding-top: 100%;
					}
					& > .content {
						position: absolute;
						top: 0; left: 0; right: 0; bottom: 0;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
					}
				}
				.text {
					margin-left: 20px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;

					.name {
						font-size: 1.15rem;
					}
					.article {
						font-size: .8rem;
					}
					.price {
						font-size: 1.2rem;
						font-weight: 500;
					}
				}
				.sizes {
					height: 100%;
					display: flex;
					align-items: center;
					margin-left: 40px;

					li {
						margin-right: 4px;
						padding: 4px 10px;
						border-radius: 3px;
						border: 2px solid #e7e7e7;
						font-size: .8rem;
					}
				}

				&:not(:first-child):not(:nth-of-type(2)) {
					border-top: 1px solid #d9d9d9;
				}
			}
		}
	}
}