#template_brands {
	& > .container {
		margin-top: 50px;
	}
	
	.section-title {
		margin-bottom: 20px;
		font-size: 1.4rem;
		letter-spacing: .1rem;
	}

	.alphabetical-index {
		margin-top: 30px;
		
		.letter-list {
			display: flex;
			justify-content: center;

			.letter-item {
				min-width: 35px;

				&:not(:last-child) {
					margin-right: 7px;
				}

				.letter {
					width: 100%;
					height: 34px;
					cursor: pointer;
					background-color: #f1f1f1;
					color: #7a7a7a;
					font-weight: 400;
					font-size: 1.3rem;
					padding: 0 7px;

					&:hover {
						color: white;
						background-color: #7122e3;
					}
					&.active {
						color: white;
						background-color: #7122e3;
					}
				}
			}
		}
	}
	.brands {
		position: relative;

		.brands-section {
			margin-top: 50px;
			//transition: all .4s ease-in-out;
			display: block;
			width: 100%;

			.section-title {
				margin-bottom: 5px;
			}

			.brands-grid {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
				border-top: 1px solid #dbdbdb;
				padding-top: 15px;

				.brand-item {
					display: flex;
					align-items: center;

					.image-wrapper {
						width: 166px;
						height: 80px;
						margin-right: 18px;
						padding: 16px 33px;
						background-color: #f1f1f1;
						transition: all .15s ease-in-out;
						overflow: hidden;
						border-radius: 4px;

						.image {
							width: 100%;
							height: 100%;
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							opacity: .5;
							transition: all .15s ease-in-out;
						}
					}
					.name {
						color: black;
						font-size: 1.2rem;
					}

					&:hover .image-wrapper {
						background-color: #7122e3;

						.image {
							opacity: 1;
							filter: invert(100%);
						}
					}
				}
			}
		}

		.brand-list-enter, .brand-list-leave-to {
			//opacity: 0;
			//transform: scale(.7);
		}
		.brand-list-leave-active {
			//position: absolute;
		}
	}
}



/*#template_brands {
	.container {
		margin-top: 50px;

		h1 {
			color: #000000;
			font-size: 1.75rem;
			text-align: center;
			font-weight: bold;
		}		

		.brands h2 {
			margin-top: -50px;
			margin-bottom: 15px;
			padding-top: 100px;
			height: 100%;
			border-bottom: 1px solid #A9A9A9;
			color: #A9A9A9;
			text-align: left;
			font-weight: normal;
			font-size: 1.5rem;
		}

		.brands-by-letter ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			li {
				
				margin: 3px;
				background: #DCDCDC;	
				
				
								
				a {
					display: block;
					color: #808080;
					font-weight: bold;
					width: 35px;
					height: 30px;
					padding: 7px 13px;
				   }
			   }

			li:hover {
				background: #7122e3;

				a{
					color: #FFFFFF;
					
				}
			} 
		}

		

		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
			color: #A9A9A9;

			div {
				display: flex;
				align-items: center;
				margin: 10px 3px;;
				font-size: 1.5rem;
				
				.image {
					border: none;
					text-align: center;
					width: 200px;
					height: 100px;
					overflow: none;
					background: #C0C0C0;

					img {
						
						margin-right: 15px;
						max-width: 100%;
						max-height: 100%;
						display:block;
						margin:auto;
					}
				}
	
				

			}

			div:hover {
				color: #000000;
				text-decoration: underline;
				transition: all .15s ease-in-out;

				.image {
					background: #7122e3;

					img {
						filter: invert(100%);
					}
				}
			} 
			
		}
	}
}*/