#template_brands {
	.container {
		margin-top: 50px;

		h1 {
			color: #000000;
			font-size: 1.75rem;
			text-align: center;
			font-weight: bold;
		}		

		.brands h2 {
			
			margin-top: -50px;
			margin-bottom: 15px;
			padding-top: 100px;
			height: 100%;
			border-bottom: 1px solid #A9A9A9;
			color: #A9A9A9;
			text-align: left;
			font-weight: normal;
			font-size: 1.5rem;
		}

		.brands-by-letter ul {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;

			li {
				
				margin: 3px;
				background: #DCDCDC;	
				
				
								
				a {
					display: block;
					color: #808080;
					font-weight: bold;
					width: 35px;
					height: 30px;
					padding: 7px 13px;
				   }
			   }

			li:hover {
				background: #7122e3;

				a{
					color: #FFFFFF;
					
				}
			} 
		}

		

		.grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
			color: #A9A9A9;

			div {
				display: flex;
				align-items: center;
				margin: 10px 3px;;
				font-size: 1.5rem;
				
				.image {
					border: none;
					text-align: center;
					width: 200px;
					height: 100px;
					overflow: none;
					background: #C0C0C0;

					img {
						
						margin-right: 15px;
						max-width: 100%;
						max-height: 100%;
						display:block;
						margin:auto;
					}
				}
	
				

			}

			div:hover {
				color: #000000;
				text-decoration: underline;
				transition: all .15s ease-in-out;

				.image {
					background: #7122e3;

					img {
						filter: invert(100%);
					}
				}
			} 
			
		}
	}
}