#template_legal_refund {
	margin-top: 50px;

	& > .container {
		display: grid;
		grid-template-columns: .4fr .6fr;

		.sticky_nav {
			position: sticky;
			list-style: none;
			counter-reset: loyalty;
			cursor: pointer;
			padding: 15px 0 0;

			li {
				margin: 20px 0;

				a {
					color: #56b7fc;
				}
			}
		}
		& > .content {
			
			line-height: 1.5;

			h1 {
				margin: 30px 0 0;
			}
			h2 {
				margin: 30px 15px 0;
			}
		}
	}
}