#section_cart {
	.absolutely-covered;
	position: fixed;
	z-index: 101;
	color: white;

	.overlay {
		.absolutely-covered;
		background-color: fade(black, 80%);
		transition: opacity .35s cubic-bezier(0.46, 0.01 , 0.32, 1);
	}
	.box {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 450px;
		background-color: #161616;
		padding: 0 30px;
		transition: transform .35s cubic-bezier(0.46, 0.01 , 0.32, 1);

		.top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid #343535;
			height: 80px;

			.title {
				font-size: 1.5rem;
				letter-spacing: .02rem;
			}
			.close {
				cursor: pointer;
				padding: 10px;
				margin-right: -10px;

				svg {
					width: 12px;
					fill: white;
				}
			}
		}
		& > .content {
			overflow: hidden;
			position: absolute;
			top: 80px;
			bottom: 165.4px;
			left: 30px;
			right: 30px;
			width: calc(450px - 60px);
			
			.has-scroll {
				pointer-events: none;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 30px;
				background: linear-gradient(to bottom, transparent, #161616 100%);
			}

			.product-list-wrapper {
				overflow-y: auto;
				max-height: 100%;
				width: inherit;
				padding-right: 25px;
				box-sizing: content-box;
				height: inherit;

				.product-list {
					width: inherit;
					padding-bottom: 120px;

					@import "../snippets/cart.item.less";

					.list-complete-enter, .list-complete-leave-to {
						opacity: 0;
						transform: scale(0);
						position: relative;
					}
					.list-complete-leave-active {
						position: absolute;
						left: 0;
						right: 0;
						z-index: 0;
					}
				}

				.cart-is-empty {
					.absolutely-covered;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1.4rem;
				}
			}
		}
		.bottom {
			position: absolute;
			bottom: 0;
			left: 30px;
			right: 30px;
			border-top: 1px solid #343535;
			padding-top: 15px;
			padding-bottom: 30px;

			.subtotal {
				display: flex;
				margin-bottom: 15px;
				
				* {
					font-weight: 400;
					letter-spacing: .1rem;
					font-size: 1.4rem;
					text-transform: uppercase;
				}
				.sum {
					margin-left: auto;

					&:after {
						content: '\20BD';
						color: fade(white, 60%);
					}
				}
			}
			.annotation {
				margin-bottom: 15px;
				color: fade(white, 60%);
				font-size: 1.1rem;
			}
			.checkout {
				display: block;
				width: 100%;
				padding: 14px 20px;
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: .07rem;
				background-color: #7122e3;
			}
		}
		.fade-enter-active, .fade-leave-active {
			transition: opacity .4s ease-in-out;
		}
		.fade-enter, .fade-leave-to {
			opacity: 0;
		}
	}
}

.cart-fade-enter, .cart-fade-leave-to {
	.overlay {
		opacity: 0;
	}
	.box {
		transform: translateX(100%);
	}
}