#section_cart {
	.absolutely-covered;
	position: fixed;
	z-index: 101;

	.overlay {
		.absolutely-covered;
		background-color: fade(black, 80%);
		transition: opacity .35s cubic-bezier(0.46, 0.01 , 0.32, 1);
	}
	.box {
		.absolutely-covered;
		left: initial;
		width: 100%;
		max-width: 450px;
		background-color: white;
		transition: transform .35s cubic-bezier(0.46, 0.01 , 0.32, 1);
		display: grid;
		grid-template-rows: auto 1fr auto;

		.top {
			text-align: center;
			padding: 20px 30px;
			border-bottom: 1px solid #e1e1e1;
			position: relative;

			.title {
				color: #4d4d4d;
				width: 100%;
				font-size: 1.3rem;
				letter-spacing: .02rem;
				text-align: center;
				font-weight: 500;
			}
			.close {
				position: absolute;
				right: 20px;
				top: 16px;
				cursor: pointer;
				padding: 10px;
				transition: all .15s ease-in-out;

				svg {
					width: 12px;
					fill: #cecece;
					transition: inherit;
				}
				&:hover {
					background-color: #f5f5f5;

					svg {
						fill: #787878;
					}
				}
			}
		}
		.middle {
			overflow-y: scroll;

			.product-list {
				padding-bottom: 70px;

				@import "../snippets/cart.item.less";

				.list-complete-enter, .list-complete-leave-to {
					opacity: 0;
					transform: scale(0);
					position: relative;
				}
				.list-complete-leave-active {
					position: absolute;
					left: 0;
					right: 0;
					z-index: 0;
				}
			}

			.cart-is-empty {
				.absolutely-covered;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.4rem;
				pointer-events: none;
			}
		}

		.bottom {
			.subtotal {
				display: flex;
				background-color: #f3f3f3;
				padding: 25px 30px;

				div {
					font-size: 1.25rem;
					font-weight: 400;
					color: #616161;
				}

				.sum {
					margin-left: auto;
					color: #373737;
					font-weight: 500;

					&:after {
						content: ' руб.';
						color: inherit;
					}
				}
			}
			.buttons {
				padding: 25px 30px;

				.btn {
					display: block;
					width: 100%;
					font-size: 1rem;
					letter-spacing: .03rem;
				}
				
				.checkout {
					padding: 14px 20px;
					background-color: @main-color;
				}
				.close {
					border: 2px solid #dbdbdb;
					margin-top: 9px;
					padding: 12px 20px;
					color: black;
					background-color: transparent;
				}
			}
		}
		.fade-enter-active, .fade-leave-active {
			transition: opacity .4s ease-in-out;
		}
		.fade-enter, .fade-leave-to {
			opacity: 0;
		}
	}
}

.cart-fade-enter, .cart-fade-leave-to {
	.overlay {
		opacity: 0;
	}
	.box {
		transform: translateX(100%);
	}
}