#section_collections {
	margin: 80px 0;

	.title {
		font-size: 1.4em;
		margin-bottom: 50px;

		hr {
			margin: 20px 0;
			border-width: 1px 0 0;
			width: 50px;
			height: .5px;
			background-color: black;
			opacity: .2;
		}
	}

	.collection-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;

		.collection-item {
			background-color: @main-color;
			border-radius: 12px;
			overflow: hidden;
			position: relative;

			&.square {
				&:before {
					padding-top: 79%;
				}
			}
			.inner {
				.absolutely-covered;
				
				.image, .overlay {
					.absolutely-covered;
					transition: transform .3s ease;
				}
				.image {
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					z-index: 1;
				}
				.overlay {
					background-color: fade(#110038, 30%);
					z-index: 2;
				}
				.bottom {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 3;

					.text {
						color: white;
						font-weight: 400;
						font-size: 1.5rem;
						position: relative;
						z-index: 2;
						padding: 22px 28px;
						display: flex;
						align-items: center;

						svg {
							margin-left: auto;
							fill: white;
							height: 20px;
						}
					}
					.gradient {
						.absolutely-covered;
						z-index: 1;
						background-image: linear-gradient(to bottom, transparent, fade(black, 55%));
						transition: opacity .3s ease;
					}
				}
			}
			&:hover {
				.inner {
					.image, .overlay {
						transform: translateY(-71.2px);
					}
					.gradient {
						opacity: 0;
					}
				}
			}
		}
	}
}